/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    body{
        width: 540px;
    }
    h2{
        font-size: 32px;
    }
    .img-item{
        width: 50%;
    }
    .order{
        display: inline;
    }
    .order-img{
        width: 100%;
    }
    .order-bg{
        width: 100%;
    }
    .gift{
        display: inline;
    }
    .gift-btn{
        width: 100%;
    }
    .gift-img{
        width: 100%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {


    .img-item{
        width: 50%;
    }
    .order{
        display: inline;
    }
    .order-img{
        width: 100%;
    }
    .order-bg{
        width: 100%;
    }
    .gift{
        display: inline;
    }
    .gift-btn{
        width: 100%;
    }
    .gift-img{
        width: 100%;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .img-item{
        width: 50%;
    }
    .order{
        display: inline;
    }
    .order-img{
        width: 100%;
    }
    .order-bg{
        width: 100%;
    }
    .gift{
        display: inline;
    }
    .gift-btn{
        width: 100%;
    }
    .gift-img{
        width: 100%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    h2{
        font-size: 30px;
    }
    .card-btn{
        margin: 0;
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

/* Extra extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .card-btn{
        margin: 0;
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        bottom: 0;
    }

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
    h2{
        font-size: 47px;
    }
    .card-btn{
        margin: 0;
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        bottom: 0;
    }
}