@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat", sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #334834;
    border-bottom: 2px solid transparent;
}

header{
    background: url(../image/home\ pg.avif) no-repeat;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
}

nav ul{
    display: flex;
    gap: 20px;
    box-shadow: 5px 5px 0px #334834;
    border: #334834, solid, 2px;
    box-sizing: inherit;
    padding: 5px;
    background: transparent;
    align-items: center;
    background-color: white;
    border-radius: 2px;
}

a:hover{
    border-bottom: 2px solid  #334834;
    transition: 0.2s ease-in-out;
}

.menu{
    background-color: #334834;
    color: white;
    text-align: center;
    padding: 80px;
    line-height: 50px;
}

.menu p{
    font-weight: 150;
}

.menu-btn{
    color: #334834;
    padding: 10px;
    width: 120px;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}

.e-btn{
    padding: 10px;
    color: #334834;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
    border: 1px solid transparent;
}

button:hover{
    opacity: 0.8;
    transition:ease-in-out;
    background-color: #334834;
    color: white;
    border: solid 1px white;
}

.order{
    width: 100%;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}
.order-img{
    width: 50%;
}
.order-img img{
    width: 100%;
    height: 100%;
    float: left;
}

.order-bg{
    width: 50%;
}
.overr{
    position: relative;
    overflow: hidden;
}
.over{
    position: absolute;
    z-index: 2;
    background-color: #334834;
    color: white;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 75%;
    line-height: 50px;
}
.over h2{
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 1px;
}

.order-bg img{
    width: 100%;
    float: right;
}

.gift{
    width: 100%;
    display: flex;
    margin: 0 auto;
}
.gift-btn{
    width: 50%;
    color: white;
    background-color: #334834;
    text-align: center; 
}


.gift-btn h2{
    font-weight: 700;
    font-size: 50px;
    padding: 3rem 2rem 2.5rem;
}
.btn-sec{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gift-img{
    width: 50%;
}
.gift-img img{
    width: 100%;
}
.hero{
    padding: 10px;
}

.insta-post{
    margin: 0 auto;
    overflow: hidden;
}
.img-item{
    box-sizing: border-box;
    float: left;
    width: 20%;
    padding: 3px;
}
.img-item img{
    width: 100%;
}

footer{
    background-color: #334834;
    color: white;
    text-align: center;
    padding: 20px;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: 100;
}